
<div class="margem">
  <mat-card>
    <mat-card-subtitle>
      Consulta de exames de mamografria - Relação de Regiões
    </mat-card-subtitle>
    <table matSort (matSortChange)="regioes">
      <tr>
        <th mat-sort-header="id">ID</th>
        <th mat-sort-header="regiao">Região</th>
        <th mat-sort-header="total_exames">Nº de exames</th>
      </tr>

      <tr *ngFor="let element of regioes">
        <td>{{element.id}}</td>
        <td>{{element.regiao}}</td>
        <td>{{element.total_exames}}</td>
      </tr>
    </table>
  </mat-card>

  <mat-card>
    <mat-card-subtitle>
      Consulta de exames de mamografria - Relação de Faixa Etaria
    </mat-card-subtitle>
    <table matSort (matSortChange)="faixasetarias">
      <tr>
        <th mat-sort-header="id">ID</th>
        <th mat-sort-header="faixa_i">Faixa i</th>
        <th mat-sort-header="faixa_n">Faixa n</th>
        <th mat-sort-header="descricao">Descricção</th>
      </tr>

      <tr *ngFor="let element of faixasetarias">
        <td>{{element.id}}</td>
        <td>{{element.faixa_i}}</td>
        <td>{{element.faixa_n}}</td>
        <td>{{element.descricao}}</td>
      </tr>
    </table>
  </mat-card>
</div>
